<div class="srh_progress-bar" data-percent="{{ value }}" data-limit="{{ limit }}" data-orgpercent="{{ value }}">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 34 34">
    <circle cx="16" cy="16" r="16" class="srh_progress-bar__background" />
    <circle cx="16" cy="16" r="16" class="srh_progress-bar__progress" />
  </svg>
</div>
