<div class="ln-ciamlite-gigya-newsletter" >
  <div class="ln-ciamlite-newsletter-banner-text">
    <h3 class="ln-ciamlite-newsletter-banner-title">{{ title }}</h3>
    <div class="ln-ciamlite-newsletter-banner-subtitle">{{ subtitle }}</div>
  </div>
  <div class="gigya_newsletter_screenset_wrapper">
    {{ gigya_screen }}
  </div>
</div>

