.video-oembed-responsive-modal {
  position: relative;
}

.video-oembed-responsive-modal:after {
  content: '';
  display: block;
  padding-bottom: 56.25%;
}

.video-media-oembed-field-responsive:after {
  content: '';
  display: block;
}

.video-oembed-responsive-modal iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}

.video-media-oembed-field-responsive iframe {
  width: 100%;
  height: 100%;
}

.video-oembed-responsive-modal {
  max-width: 100%;
}

.video-oembed-media-modal-play-wrapper,
.video-oembed-media-lazy-play-wrapper {
  position: relative;
  display: inline-block;
}

.align-center .video-oembed-launch-modal,
.align-center .video-oembed-media-lazy {
  text-align: center;
}

.align-center .field--name-field-media-oembed-video {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.video-oembed-launch-modal,
.video-oembed-media-lazy {
  cursor: pointer;
}

.video-oembed-launch-modal-play,
.video-oembed-media-lazy-play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("icons/play.svg") no-repeat;
  cursor: pointer;
  background-size: 72px 72px;
  border: none;
}

.align-center.media--type-external-video .video-media-oembed-field-responsive iframe,
.align-right.media--type-external-video .video-media-oembed-field-responsive iframe,
.align-left.media--type-external-video .video-media-oembed-field-responsive iframe {
  position: relative;
}

.align-center.media--type-external-video .video-media-oembed-field-responsive:after,
.align-right.media--type-external-video .video-media-oembed-field-responsive:after,
.align-left.media--type-external-video .video-media-oembed-field-responsive:after {
  padding-bottom: 0;
}
