.ln-campaign-csv-widget .ln-campaign-csv-widget-example{
  display: block;
}
.ln-campaign-csv-widget .ln-campaign-csv-widget-result{
  display: block;
}
.ln-campaign-csv-widget .ln-campaign-csv-widget-result tbody{
  display: block;
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}
.ln-campaign-csv-widget .ln-campaign-csv-widget-result table th{
  min-width: 220px;
}

.ln-campaign-csv-widget .ln-campaign-csv-widget-result thead{
  display: block;
}
.ln-campaign-csv-widget [data-drupal-messages]{
  display: block;
}
