.paragraph--type--ln-c-entity-compare {
  --color-light: #fff;
  --color-dark: #333;
  --text-align-x: left;
  --text-color: var(--color-dark);
  --bg-color: var(--color-light);
  --spacing: 1.5rem;
  --wrapper-margin-right: auto;
  --wrapper-margin-left: 0;
  background-color: var(--bg-color);
  padding: var(--spacing);

  &.white-text {
    --text-color: var(--color-light);
    --bg-color: var(--color-dark);
  }

  &.horizontal_position_center {
    --text-align-x: center;
    --wrapper-margin-left: auto;
  }

  &.horizontal_position_right {
    --text-align-x: right;
    --wrapper-margin-right: 0;
    --wrapper-margin-left: auto;
  }

  .field--name-field-c-advanced-title {
    max-width: 1024px;
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    margin-right: var(--wrapper-margin-right);
    margin-left: var(--wrapper-margin-left);
  }

  .field--name-field-c-settings tr {
    td, th .entity-label {
      color: var(--text-color);
      text-align: var(--text-align-x);
    }
  }

  .field--name-field-c-advanced-title * {
    color: var(--text-color);
    text-align: var(--text-align-x);
  }

  .field--name-field-c-settings table {
    width: 100%;
    table-layout: fixed;

    th, td {
      overflow: hidden;
    }

    th {
      background-color: var(--bg-color);
      padding: 0;

      &[scope="row"] {
        background-color: var(--bg-color);
      }

      .entity-label {
        max-width: 100%;
        width: 100%;
        padding: .5rem;
        font-size: 1rem;
        background-color: var(--bg-color);
        display: block;
      }

      select {
        cursor: pointer;
      }
    }

    tr td {
      padding: 1rem;
      vertical-align: top;

      &.label {
        font-weight: bold;
        vertical-align: middle;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
