@font-face {
  font-family: 'Maggi Sans';
  src: url('../fonts/MaggiSans-Regular.woff2') format('woff2'),
  url('../fonts/MaggiSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maggi Sans';
  src: url('../fonts/MaggiSans-Bold.woff2') format('woff2'),
  url('../fonts/MaggiSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maggi Sans';
  src: url('../fonts/MaggiSans-Light.woff2') format('woff2'),
  url('../fonts/MaggiSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
