.srh-mymenuiq-loading {
    position: fixed;
    z-index: 9999999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(62, 43, 26, 0.5);
  
    $spinWidth: 80px;
  
    &::before {
      content: "";
      position: absolute;
      display: block;
      border: 8px solid #8e8171;
      border-top: 8px solid #97d815;
      border-radius: 999px;
      width: $spinWidth;
      height: $spinWidth;
      animation: spin 2s linear infinite;
      top: calc(50vh - #{$spinWidth / 2});
      left: calc(50vw - #{$spinWidth / 2});
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }