@mixin back {
    display: block;
    font-size: 18px;
    background: url("../images/prev_arrow.png") no-repeat left -1px;
    background-size: 20px;
    line-height: 20px;
    padding-left:20px;
    cursor: pointer;
    color:#d8d8d8;
}

@mixin back_black {
    display: block;
    font-size: 15px;
    background: url("../images/prev_arrow_black.png") no-repeat left 0;
    background-size: 15px;
    line-height: 20px;
    padding-left:20px;
    cursor: pointer;
    color:#3b2d1c;
}

@mixin sectionSubtitle {
    font-size: 24px;
    color:#d8d8d8;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align:center;
}
