<div class="ln-campaign-authentication-link">
  <div class="ln-campaign-authentication-message">{{ message }}</div>
  <div class="ln-campaign-authentication-link">
    <a href="{{ url }}">{{ title }}</a>
  </div>
</div>
