.paragraph--type--c-sideimagetext {
  --color_light_sideimagetext: #fff;
  --color_dark_sideimagetext: #333;
}
.paragraph--type--c-sideimagetext .position-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.paragraph--type--c-sideimagetext .position-container .wrapper-img-section,
.paragraph--type--c-sideimagetext .position-container .wrapper-text-section {
  padding: 0;
  flex: 1;
}
.paragraph--type--c-sideimagetext .wrapper-img-section .field--name-field-c-image {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 500px;
}
.paragraph--type--c-sideimagetext .wrapper-img-section .field--name-field-c-image > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.paragraph--type--c-sideimagetext .wrapper-text-section .text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  padding: 70px;
}
.paragraph--type--c-sideimagetext.image-right .position-container {
  flex-direction: row-reverse;
}
.paragraph--type--c-sideimagetext.dark-text .wrapper-text-section {
  color: var(--color_dark_sideimagetext);
  background-color: var(--color_light_sideimagetext);
}
.paragraph--type--c-sideimagetext.dark-text p, .paragraph--type--c-sideimagetext.dark-text span, .paragraph--type--c-sideimagetext.dark-text h1, .paragraph--type--c-sideimagetext.dark-text h2, .paragraph--type--c-sideimagetext.dark-text h3, .paragraph--type--c-sideimagetext.dark-text h4, .paragraph--type--c-sideimagetext.dark-text h5, .paragraph--type--c-sideimagetext.dark-text h6 {
  color: var(--color_dark_sideimagetext);
}
.paragraph--type--c-sideimagetext.white-text .wrapper-text-section {
  color: var(--color_light_sideimagetext);
  background-color: var(--color_dark_sideimagetext);
}
.paragraph--type--c-sideimagetext.white-text p, .paragraph--type--c-sideimagetext.white-text span, .paragraph--type--c-sideimagetext.white-text h1, .paragraph--type--c-sideimagetext.white-text h2, .paragraph--type--c-sideimagetext.white-text h3, .paragraph--type--c-sideimagetext.white-text h4, .paragraph--type--c-sideimagetext.white-text h5, .paragraph--type--c-sideimagetext.white-text h6 {
  color: var(--color_light_sideimagetext);
}
.paragraph--type--c-sideimagetext.vertical_top .text-container {
  justify-content: flex-start;
}
.paragraph--type--c-sideimagetext.vertical_middle .text-container {
  justify-content: center;
}
.paragraph--type--c-sideimagetext.vertical_bottom .text-container {
  justify-content: flex-end;
}
.paragraph--type--c-sideimagetext.horizontal_position_left .text-container {
  align-items: flex-start;
  text-align: left;
}
.paragraph--type--c-sideimagetext.horizontal_position_center .text-container {
  align-items: center;
  text-align: center;
}
.paragraph--type--c-sideimagetext.horizontal_position_right .text-container {
  align-items: flex-end;
  text-align: right;
}
