<div class="account_wrapper">
  <div class="account_box">
    {{ page.account }}
  </div>
  <div class="account_box">
    <table>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
    </table>
  </div>
</div>
