.paragraph--type--c-sideimagetext {
  --color_light_sideimagetext: #fff;
  --color_dark_sideimagetext: #333;

  .position-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    .wrapper-img-section,
    .wrapper-text-section {
      padding: 0;
      flex: 1;
    }
  }

  .wrapper-img-section {
    .field--name-field-c-image {
      margin: 0;
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 500px;
      > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .wrapper-text-section {
    .text-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100%;
      padding: 70px;
    }
  }

  /* position image */

  &.image-right {
    .position-container {
      flex-direction: row-reverse;
    }
  }

  /* color */

  &.dark-text {
    .wrapper-text-section {
      color: var(--color_dark_sideimagetext);
      background-color: var(--color_light_sideimagetext);
    }
    p, span, h1, h2, h3, h4, h5, h6 {
      color: var(--color_dark_sideimagetext);
    }
  }

  &.white-text {
    .wrapper-text-section {
      color: var(--color_light_sideimagetext);
      background-color: var(--color_dark_sideimagetext);
    }
    p, span, h1, h2, h3, h4, h5, h6 {
      color: var(--color_light_sideimagetext);
    }
  }

  /* text position */

  &.vertical_top {
    .text-container {
      justify-content: flex-start;
    }
  }
  &.vertical_middle {
    .text-container {
      justify-content: center;
    }
  }
  &.vertical_bottom {
    .text-container {
      justify-content: flex-end;
    }
  }
  &.horizontal_position_left {
    .text-container {
      align-items: flex-start;
      text-align: left;
    }
  }
  &.horizontal_position_center {
    .text-container {
      align-items: center;
      text-align: center;
    }
  }
  &.horizontal_position_right {
    .text-container {
      align-items: flex-end;
      text-align: right;
    }
  }
}
