@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}

a:active,a:hover{outline:0}
img{border:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
textarea{overflow:auto}
table{border-collapse:collapse;border-spacing:0}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit;outline:0}
a{text-decoration:none;color:inherit}
img{vertical-align:middle}
.img-responsive{display:block;max-width:100%;height:auto}
hr{box-sizing:content-box;height:0;margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}
body{margin:0;padding:0}

ul{
  padding-left: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #404E55;
}

ul>li{
  padding: 5px 0;
}

.navbar{
  background:white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  height: 60px;
}

.navbar .container{
  max-width:1200px;
  padding:0 15px;
  margin: 0 auto;
}

.navbar .navbar__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar_left{
  display: flex;
  align-items: flex-end;
}

.navbar_right{
  display: flex;
  align-items: center;
}

.auth_btn button{
  font-weight: 700;
  font-size: 17px;
  color: #FFFFFF;
  background: #E31D1C;
  border-radius: 4px;
  cursor:pointer;
  border: none;
  height: 45px;
  margin: 0 23px;
  padding: 12px 25px;
}

.menu_links{
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 25px;
}

.menu_links li{
  display: inline-block;
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 10px;
  margin: 0 10px;
}

.hero_block_container img{
  max-width: 100%;
  display: block;
  height: auto;
}

.homepage_txt{
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #404E55;
}

.homepage_txt_title{
  max-width: 585px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #263238;
  text-align: center;
}

.block_title_wrapper{
  margin: 50px 0;
  position: relative;
}

.block_title{
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #404E55;
  padding: 0 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: white;
}

.block_title_lines{
  height: 4px;
  border-top: 1px solid #CFD8DC;
  border-bottom: 1px solid #CFD8DC;
}

.homepage_image img{
  display: block;
  max-width: 100%;
  height: auto;
}

.top_txt_title{
  margin-top: 70px;
  margin-bottom: 45px;
}

.current_lang{
  display: flex;
  align-items: baseline;
}

.current_lang img{
  margin-left: 5px;
}

.langs{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  background: white;
  width: 100%;
}

.langs a{
  display: block;
}

.langs_select{
  cursor:pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  color: #333333;
  position: relative;
}

.language-link.is-active{
  display: none;
}

.prize_txt{
  margin-bottom: 60px;
}

.winners_photos{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.winners_photos img{
  display: block;
  max-width: 100%;
  height: auto;
}

.footer_content_wrapper{
  padding-top: 35px;
  margin-top: 95px;
  border-top: 1px solid #CFD8DC;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer_menu{
  display: inline-block;
  margin: 0;
  padding: 0;
}

.footer_menu li{
  font-weight: 300;
  font-size: 15px;
  color: #494F53;
  display: inline-block;
  padding-left: 10px;
  margin-left: 15px;
}

.footer_copyrights{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #252525;
  margin-top: 20px;
  margin-bottom: 45px;
}

.footer_adress{
  font-weight: 700;
  font-size: 15px;
  color: #494F53;
}

.burger{
  display:none;
  border: none;
  background: none;
  padding: 0;
  cursor:pointer;
}

.mobile_menu{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  padding: 15px;
  background: white;
  z-index: 999;
}
.mobile_menu .menu_links li{
  display: block;
  padding: 10px 0;
  margin: 10px 0;
}

.mob_menu_overlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 998;
  display: none;
}

.close_menu{
  border: none;
  background: none;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 20px;
}

.page_title {
  max-width: 585px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #263238;
}

.btn_main button{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  background: #7BA60A;
  border-radius: 4px;
  padding: 13px 23px 12px 27px;
  border: 0;
}

.reglament_accept button{
  margin-top: 50px;
}

.text_content{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #404E55;
}
