{% set classes = [
  'region',
  'region-' ~ region|clean_class,
  'navbar',
] %}

<a href="tel:06060606060">
  <img src="/{{ directory }}/images/phone.svg">
</a>

{{ content }}

<button class="burger">
  <img src="/{{ directory }}/images/burger.svg">
</button>
<div class="mob_menu_overlay"></div>
