{% set classes = [
  'region',
  'region-' ~ region|clean_class,
  'footer',
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="footer_content_wrapper">
    {{ content }}
  </div>
  <a href="https://webmaster.md" class="footer_copyrights">
    © Studio WebMaster, 2023
    <img src="/{{ directory }}/images/webmaster_logo.svg">
  </a>
</div>
