{% set classes = [
  'region',
  'region-' ~ region|clean_class,
  'navbar',
] %}

<a href="/contact-modal" class="use-ajax user-login-form phone_hover" data-dialog-type="modal" data-dialog-options="{&quot;dialogClass&quot;:&quot;login-modal&quot;}">
  <img src="/{{ directory }}/images/phone.svg" class="phone_desktop">
  <img src="/{{ directory }}/images/phone_mob.svg" class="phone_mobile">
</a>

{{ content }}

<button class="burger">
  <img src="/{{ directory }}/images/burger.svg">
</button>
<div class="mob_menu_overlay"></div>
