{% set classes = [
  'region',
  'region-' ~ region|clean_class,
  'navbar',
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="navbar__container container">
    <div class="navbar_left">
      <div class="navbar__branding">
        <a href="/">
          <img class="navbar__logo" src="/{{ directory }}/images/logo.svg" alt="logo"/>
        </a>
      </div>
      {{ content }}
    </div>
    <div class="navbar_right">
      <a href="tel:06060606060">
        <img src="/{{ directory }}/images/phone.svg" alt="phone icon">
      </a>
    </div>
  </div>
</div>
